<!-- Form to take article title and link from user -->
<form class="ui form-large">
	<h3 class="title">Add a link</h3>

	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" class="form-control" name="title" #newTitle required="">
	</div>

	<div class="form-group">
		<label for="link">Link</label>
		<input type="text" class="form-control" name="link" #newLink required="">
	</div>

	<div class="form-group">
		<button class="btn btn-primary" (click)="addArticle(newTitle,newLink)">Add Article</button>
	</div>
</form>


<!-- Show the article here -->
<div class="row articles">
	<div class="container">
		<app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
	</div>
</div>